.create {
    display: flex;
    flex-direction: column;
    border: 1px solid aqua;
    padding: 20px;
}

.createTitleBlock {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.inputTitle label {
    display: block;
    margin-bottom: 5px;
}

.inputTitle input {
    border-color:burlywood;
}

.createDescriptionBlock {
    margin-top: 20px;
}

.createDescriptionBlock label {
    display: block;
    margin-bottom: 5px;
}

.createDescriptionBlock textarea {
    width: 100%;
    height: 100px;
    border-color: orange;
}

.createAuthorBlock {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid purple;
    margin-top: 10px;
}

.createAuthorBlock h3 {
    text-align: center;
    margin: 10px 0;

}

.leftBlock {
    width: 45%;
}

.leftBlock label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.rightBlock {
    width: 45%;
}

.leftBlock input {
    width: 100%;
}

.addAuthor {
    text-align: center;
}

.addAuthor button {
    margin-top: 10px;
    margin-bottom: 60px;
}

.addDuration h2 {
    margin-top: 30px;
    text-align: center;
}

.chosenAuthorsList {
    text-align: center;
}

.authorItem {
    margin: 0 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}