.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid pink;
    margin-bottom: 30px;
}

.header h2 {
    margin-left: 850px;
}

.header .button {
    width: 100px;
}